html {
    /* font-size: 10px; */
    font-size: 62.5%;
    /* 10px / 16px = 0.625 = 62.5% */
    /* percentage of user's browser font-size setting */
  }
  
  body {
    font-family: "Kubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #acc8e5;
    background: #212629;
    overflow-x: hidden;
  }
  
  /* 
--- 01 TYPOGRAPHY SYSTEM 
  
  - FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  - FONT WEIGHTS 
  default: 400
  Medium: 500

  - LINE HEIGHTS
  default: 1
  Small 1.05
  Paragraph default 1.6

  - LETTER SPACING 
  Default: 1
  Small: 1.05
  Medium: 1.2

  --- 02 COLORS
- PRIMARY: #212629 (black)
- Brand color: #3F686F (cyan)
       
- TINTS:#ACC8E5 (light blue) - #C6DAEE (text op zwart) - #343A40 (text op blauw)
#E0A96D(how section font) 
- SHADES:  #65868c (cyan) #428896 (blue cyan)


- ACCENTS:

GREYS:
#555
#333;
 #6f6f6f; (lightest grey allowed on this website)
 #767676

---03 IMAGES
SOURCE : unsplash.com, UI Faces, 



- 

--- 05 BORDER RADIUS
default : 9px

--- 06 WHITESPACE
_  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */

/* ************************************ */
/* GENERAL COMPONENTS */
/* ************************************ */

.container {
  /* 1140px is also ver0y much used */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container-big {
  /* 1140px is also ver0y much used */
  max-width: 160rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;

  /* padding-bottom: 9.6rem; */
}

.grid:last-child {
  padding-bottom: 9.6;
}

.grid:not(:last-child) {
  padding-bottom: 9.6rem;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--2cols-fred {
  grid-template-columns: 1fr 1.5fr;
}

.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.grid--center-h {
  justify-items: center;
}


.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 500;
  color: #acc8e5;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-primary-light {
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;

  text-align: left;
}
.heading-secondary--blue {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
  color: #3f686f;
  text-align: left;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  text-align: center;
  color: #c6daee;
}

.heading-tertiary-sm {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  text-align: center;
  color: #c6daee;
}

.subheading {
  display: block;
  font-size: 2.4rem;
  font-weight: 600;
  color: #3f686f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  text-align: left;
}

.subheading--dark {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  color: #3f686f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  text-align: left;
}

.section-discription {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 9.6rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* for btn itself */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* put the transition always on original state */
  transition: all 0.3s;
}
.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: flex-end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #333;
}

.btn--full:link,
.btn--full:visited {
  background-color: #3f686f;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #c6daee;
  color: #212629;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #c6daee;
  color: #212629;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #c6daee;

  /* border: 3px solid #fff; */
  /* trick to add border inside */
  box-shadow: inset 0 0 0 3px #3f686fa4;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #3f686f;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3sec;
}

.link:hover,
.link:active {
  color: #3f686f;
  border-bottom:1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-items {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #acc8e5;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgb(63, 104, 111);
}
/* HELPER CLASSES */
.margin-right-sm {
  margin: right 1.6rem !important;
}

.margin-bottom-big {
  margin-bottom: 6.4rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.margin-bottom-sm {
  margin-bottom: 3.8rem !important;
}
.margin-left-md {
  margin-left: 3.8rem !important;
}

.margin-top-md {
  margin-top: 4.8rem !important;
}

.center-text {
  text-align: center;
}

.heading-primary-backgroundl {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  color: #212629;
}

strong {
  font-weight: 550;
}
