/* ********width 1344px******* */
@media (max-width: 84em) {
  .hero,
  .container-how,
  .fred {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

  /**********width 1216px********/
  @media (max-width: 76em) {
    /* ******9px =  9/16 = 56,25*********/
    html {
      font-size: 56.25%;
    }
    .fred {
      margin-right: 3.8rem;
    }
    .heading-secondary {
      font-size: 3.6rem;
    }
    .heading-tertiary {
      font-size: 2.4rem;
    }
    .header {
      padding: 0 3.2rem;
    }
    .main-nav-list {
      gap: 3.2rem;
    }
    .hero {
      gap: 4.8rem;
    }
    .container-how {
      margin-left: 3.2rem;
      margin-right: 3.2rem;
    }
  }

  /**********width 944px********/
  @media (max-width: 59em) {
    html {
      font-size: 45%;
    }

    .section-discription {
      margin-bottom: 4.8rem;
    }

    .btn,
    .btn:link,
    .btn:visited {
      display: block;
      text-decoration: none;
      font-size: 2rem;
      padding: 1.6rem 3.2rem;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    .fred {
      margin-left: 3.8rem;
    }
    .grid--2cols-fred {
      grid-template-columns: 1fr;
      gap: 3.2rem;
    }
    .fred-img-box {
      width: 25%;
      grid-column: 1/-1;
      justify-self: center;
    }
    .fred-text-box {
      grid-row: 1/-1;
    }

    .grid--3cols {
      grid-template-columns: repeat(2, 1fr);
    }

    .pricing-plan {
      justify-self: center;
    }

    .pricing-plan--complete {
      border: 2px solid #343a40;
      padding: 4.6rem;
      grid-column: span 2;
    }

    /******** MOBILE******* */
    .mobile-nav-btn {
      display: block;
      z-index: 9999;
    }
    .main-nav {
      background-color: #212629;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);

      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in;

      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }

    .nav-open .main-nav {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
    }
    .nav-open .icon-nav-btn[name="close-outline"] {
      display: block;
    }

    .nav-open .icon-nav-btn[name="menu-outline"] {
      display: none;
    }

    .main-nav-list {
      flex-direction: column;
      gap: 4.8rem;
    }
    .main-nav-link:link {
      font-size: 3rem;
    }
  }

  /* ************************************ */
  /* BELOW 750 PX (smaller tablets) */
  /* ************************************ */
  @media (max-width: 47em) {
    .hero {
      grid-template-columns: 1fr;
    }

    .hero-img-box {
      width: 70%;
      justify-self: center;
    }

    .fred-image {
      width: 140%;
    }

    .grid {
      row-gap: 6.4rem;
      column-gap: 2.4rem;
    }

    .grid--4cols {
      grid-template-columns: 1fr 1fr;
    }
    .step-text-box {
      display: grid;
      grid-template-rows: 0.3fr 0.3fr 0.6fr;
      column-gap: 1rem;
    }

    h3.heading-tertiary-sm {
      font-size: 2.3rem;
    }
    .tel,
    .email:link,
    .tel,
    .email:visited {
      text-decoration: none;
      font-size: 2.3rem;
    }
    .step-number {
      font-size: 8rem;
    }
  }
  /* ************************************ */
  /* BELOW 544 PX (phones) */
  /* ************************************ */

  @media (max-width: 34em) {
    .section-hero {
      padding: 8rem 0 0rem 0;
    }
    .section-how {
      padding: 4.8rem 0 4.8rem 0;
    }
    .grid {
      row-gap: 3rem;
    }

    .grid--2cols,
    .grid--3cols,
    .grid--4cols {
      grid-template-columns: 1fr;
    }
    .fred-image {
      width: 200%;
    }

    .subheading,
    .heading-secondary {
      text-align: center;
    }

    h3.heading-tertiary-sm {
      font-size: 3rem;
    }
    .tel,
    .email:link,
    .tel,
    .email:visited {
      text-decoration: none;
      font-size: 2.3rem;
    }
    .step-number {
      font-size: 9.8rem;
    }

    .pricing-plan--complete {
      grid-column: span 1;
    }
    .footer {
  padding: 8rem 0 8rem 2rem;
}

  }