/* ************************************ */
/* HEADER  */
/* ************************************ */
.logo {
  height: 8.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 12.8rem;
  padding: 8rem;
  
  
}

/* ************************************ */
/* NAVIGATION  */
/* ************************************ */



.main-nav-list {
  display: inline-block;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #c6daee;
  font-weight: 400;
  font-size: 1.8rem;
  
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #428896;

}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #428896;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #c6daee;
  color: #428896;
}
/* MOBILE */

.mobile-nav-btn {
  background: none;
  border: none;
  cursor: pointer;

  display: none;
}
.icon-nav-btn {
  width: 4.8rem;
  height: 4.8rem;
  color: #c6daee;
}
.icon-nav-btn[name="close-outline"] {
  display: none;
}

/* MOBILE NAVIGATION */

/* STICKY NAVIGATION  */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 11rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-shadow: 0 1.2rem 3.2rem rgb(0, 0, 0, 0.06);
  z-index: 9999;
  background: rgb(33, 38, 41);
}

.section-hero {
  margin-top: 9.6rem;
}


/* ************************************ */
/* HERO SECTION  */
/* ************************************ */

.section-hero {
  padding: 14rem 0 4.8rem 0;
}
.hero {
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
/* .hero-text-and-btn { 
  background-color: #3f686f;
}*/


.hero-image {
  width: 100%;
}

/* ************************************ */
/* SECTION-FRED  */
/* ************************************ */

.fred {
  margin: 0 auto;
  padding: 14rem 0 6.4rem 0;
  max-width: 130rem;
}
.fred-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fred-image {
  width: 60%;
  border: #c6daee solid 0.2rem;
  border-radius: 5%;
}


.mtt:link,
.mtt:visited {
  text-decoration: none;
  color: #428896;
  font-weight: 400;
  font-size: 1.8rem;
}

.mtt:hover,
.mtt:active {
  color: #428896;
}

/* ************************************ */
/* SECTION-WHY  */
/* ************************************ */
.pts .pts-name {
  color: #5f9ba5;
}
.section-why {
  padding: 10rem 0 10rem 0 ;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.personaltraining {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8.4rem;
}


.pts-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.pts-name {
  font-size: 2rem;
  color: #c6daee;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
  border-radius: 9px;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.gallery-item {
  overflow: hidden;
}

/* ************************************ */
/* SECTION-PRICING  */
/* ************************************ */

.section-pricing {
  padding: 11rem 0;
  margin: 0 auto;
  max-width: 130rem;
}

.pricing-plan {
  border-radius: 11px;
  height: 55rem;
}

.pricing-plan--short,
.pricing-plan--complete {
  justify-self: center;
  border: 2px solid #343a40;
  padding: 4.6rem;
  background-color: #5f9ba5;
  color: #c6daee;
}
.pricing-plan--complete {
  padding: 4.6rem;
  position: relative;
  overflow: hidden;
  color: #c6daee;
}

.pricing-plan--complete::after {
  content: "Best Value";
  position: absolute;
  top: 5%;
  right: -18%;
  text-transform: uppercase;
  color: #343a40;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: rgb(230, 125, 34);
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #c6daee;
  font-weight: 500;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin: 6.4rem 0 3.2rem 0;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600rem;
  color: #c6daee;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #c6daee;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
}

/* ************************************ */
/* SECTION-HOW */
/* ************************************ */


/* ************************************ */
/* SECTION-CTA  */
/* ************************************ */
.section-cta {
  padding: 0 0 9.6rem 0;

 }

 .cta-container{
  padding: 3rem;
  background-color: #5f9ba5;
  
  border-radius: 9px;
  
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1rem;
  justify-items: start;
  align-items: center;
 }
 
 .cta-text-box {
  display: flex;
  flex-direction: column;
 
}
 

 .cta-text {
   font-size: 1.8rem;
   line-height: 1.8;
   margin-bottom: 4.8rem;
 }

 .button-contact {
  display: flex;
  gap: 0.5rem; /* Voeg hier de gewenste ruimte in */
  flex-wrap: wrap;
}

 .cta-img-box{
  border-radius: 9px;
  align-content: center;
 }
 
/* ************************************ */
/* FOOTER */
/* ************************************ */

.footer {
  padding: 24rem 0 8rem 8rem;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  
}
p.footer-heading {
  font-size: 3rem;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
 

}
.logo-col,
.adress-col,
.nav-col,
.nav-ref {
  display: flex;
  flex-direction: column;

}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #5f9ba5;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.adress {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #c6daee;
  transition: all 0.3s;
  
}

.footer-link:hover,
.footer-link:active {
  color:#5f9ba5;

}


/* ************************************************************************************************************************************************************************************************************************************************************ */
/* ************************************ */
/* MEDIA QUERRIES */
/* ************************************ */ 
/* 1 em = 16px */

/* ******Below 1600px**** */

@media (max-width:100em){
  .hero{
    max-width: 120rem;
  }

  .heading-primary{
    font-size: 4.4rem;
  }

  .section-why {
    padding: 10rem 4rem 0 4rem ;
  }
  .gallery{
  row-gap: 6rem;
  padding-top: 12rem;
  }

  .btn--form {
    padding: 1.5rem;
  }

  
.footer {
  padding: 8rem;
}

  }

  
/* ******Below 1450px**** */
.fred {
  margin: 0 auto;
  padding: 8rem 1rem 0 0;
  max-width: 100rem;
}

.section-why {
  padding: 4rem 6rem 0 6rem ;
}

.cta-container{
  margin-left: 8rem;
  margin-right: 8rem;
  grid-template-columns: 2fr 1.5fr;
 }


/* ******Below 1150px**** */

@media (max-width:72em){

  .header{
    gap: 8rem;
  }

  .main-nav-list {
    gap: 3rem;
  }


  .hero{
    max-width: 100rem;
    margin-left:2rem;

    grid-template-columns: 1fr 0.7fr;
    gap: 4rem;
  }

  .fred {
    padding: 4rem 8rem 0 0;
   
  }

 
  .grid:last-child {
    padding-bottom: 9.6rem;
}
  .section-why {
    grid-template-columns: 1fr;
    align-items: center;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 0.3fr);
    gap: 4rem;
    padding: 4rem 0 4rem 0;

  }
  .section-pricing {
    padding:9.6rem 2rem 9.6rem 2rem; 
    
  }

.heading-tertiary{
  font-size: 2.5rem;
} 

 .cta-container{
  padding-top: 4rem;
  
 }

 .cta-img-box{
  width: 100%;
 }

 .heading-secondary-cta{
  font-size: 3rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}


 .btn,
 .btn:link,
 .btn:visited {
  margin-right: 0.5rem;
  margin-bottom:0.5rem;
 }

 
.footer {
  padding: 8rem 3.2rem 0 3.2rem;
}

}


/* ***********************************BELOW 770PX**************************** */




/* NAV QUERY */

@media (max-width:50em){
.mobile-nav-btn{
  display: block;

}

.main-nav{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.97);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);


  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.5s ease-out;


  opacity: 0;

  /* make it unaccessible to mouse and keyboard */
  pointer-events: none;

  /* hide it from screen readers */
  visibility: hidden;
}

.nav-open
.main-nav{
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.main-nav-list{
  flex-direction: column;
  gap: 4.8rem;
}
  
.main-nav-link:link,
.main-nav-link:visited{
  font-size: 2.8rem;
  color:#5f9ba5;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #0889a3;
}
.nav-open .icon-nav-btn[name="close-outline"]{
  display: block;
}
.nav-open .icon-nav-btn[name="menu-outline"]{
  display: none;
}
 
/* HERO query */
.hero {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  
}
 

.section-discription {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
 
}
.btn,
.btn:link,
.btn:visited {
  font-size: 1.2rem;
  padding: 1.6rem 1.6rem;
  margin-left: 0.5rem;
  margin-top: 1.6rem;
}

/* FRED query */
.fred{
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 1fr;
  padding: 0 3.2rem 0 3.2rem;
  row-gap: 0;

}
.fred-img-box{
  grid-row: 2;

}

.fred-image {
  width: 55%;
 
}

.heading-secondary {
 margin-bottom: 3.2rem;

}

/* SECTION WHY */
.section-why
{
  padding-top: 0;
  padding-bottom: 0rem;
}

.pts-name {
  font-size: 1.8rem;
  color: #c6daee;
}

.pts-text{
  font-size: 1.6rem;
}

.personaltraining {
  row-gap: 2.8rem;
  column-gap: 4.2rem;
}

/* PRICING SECTION  */
.section-pricing{
padding-top:7.6rem ;
padding-bottom: 3.4rem;
}


.gallery{
padding-top: 3.2rem; 

}

.container {
  grid-template-columns: 1fr;

}

.included{
 margin: 0 auto;
}


.grid:not(:last-child) {
padding-bottom: 4rem;
}

/* CTA SECTION */

.heading-secondary-cta{
  font-size: 2rem;

}

/* FOOTER */

.footer {
  padding: 8rem 3.2rem 0 6rem;
}

.grid--footer {
  grid-template-columns: 1fr 1fr;
}

.footer-logo {
  display: block;
  margin-bottom: 1.6rem;
}

.footer-heading {
  margin-bottom: 2rem;
}

.adress {
  margin-bottom: 1rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

}
 
/*********************** BELOW 480PX *****************************************/

@media (max-width:30em){
.heading-primary,
.heading-secondary{
  font-size: 3.4rem;

}

.section-hero {
    padding: 14rem 0 0 0;
}

.personaltraining {
  row-gap: 2rem;
  column-gap: 2.2rem;
}
.gallery {
  display: grid
;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 4rem 0 4rem 0;
}

.pricing-plan {
  border-radius: 11px;
  height: 50rem;
}
.pricing-plan--short, .pricing-plan--complete {
  padding: 2rem;

}

.cta-container{
  min-height: 38rem;
  grid-template-columns: 1fr;

  padding-top: 3rem;
}

.heading-secondary-cta{
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0.5rem;

}

.button-contact {
align-self: center;


}

.grid--footer {
  grid-template-columns: 1fr;
  text-align: center;
  row-gap: 6rem;
}
.logo-col{
  row-gap: 1rem;
  align-items: center;
}
}


/*********************** BELOW 325PX *****************************************/
