/* ************************************ */
/* HEADER  */
/* ************************************ */
.logo {
  height: 8.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 12.8rem;
  padding: 8rem;
  
  
}

/* ************************************ */
/* NAVIGATION  */
/* ************************************ */
.main-nav-list {
  display: inline-block;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #c6daee;
  font-weight: 400;
  font-size: 1.8rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #428896;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #428896;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #c6daee;
  color: #428896;
}
/* MOBILE */

.mobile-nav-btn {
  background: none;
  border: none;
  cursor: pointer;

  display: none;
}
.icon-nav-btn {
  width: 4.8rem;
  height: 4.8rem;
  color: #c6daee;
}
.icon-nav-btn[name="close-outline"] {
  display: none;
}

/* MOBILE NAVIGATION */

/* STICKY NAVIGATION  */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 11rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-shadow: 0 1.2rem 3.2rem rgb(0, 0, 0, 0.06);
  z-index: 9999;
  background: rgb(33, 38, 41);
}

.section-hero {
  margin-top: 9.6rem;
}


/* ************************************ */
/* HERO SECTION  */
/* ************************************ */

.section-hero {
  padding: 14rem 0 4.8rem 0;
}
.hero {
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
/* .hero-text-and-btn { 
  background-color: #3f686f;
}*/

.hero-image {
  width: 100%;
}

/* ************************************ */
/* SECTION-FRED  */
/* ************************************ */

.fred {
  margin: 0 auto;
  padding: 16rem 0 6.4rem 0;
  max-width: 130rem;
}
.fred-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fred-image {
  width: 60%;
  border: #c6daee solid 0.2rem;
  border-radius: 5%;
}


.mtt:link,
.mtt:visited {
  text-decoration: none;
  color: #428896;
  font-weight: 400;
  font-size: 1.8rem;
}

.mtt:hover,
.mtt:active {
  color: #428896;
}

/* ************************************ */
/* PERSONAL TRRAINING */
/* ************************************ */

.pts .pts-name {
  color: #5f9ba5;
}
/* ************************************ */
/* SECTION-WHY  */
/* ************************************ */

.section-why {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.personaltraining {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8.4rem;
}

.personaltraining-container {
  padding: 14rem 9.6rem 9.6rem 9.6rem ;
}

.pts-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.pts-name {
  font-size: 2rem;
  color: #c6daee;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.gallery-item {
  overflow: hidden;
}

/* ************************************ */
/* SECTION-PRICING  */
/* ************************************ */

.section-pricing {
  padding: 14rem 0 9.6rem 0;
  margin: 0 auto;
  max-width: 130rem;
}

.pricing-plan {
  border-radius: 11px;
  height: 55rem;
}

.pricing-plan--short,
.pricing-plan--complete {
  justify-self: center;
  border: 2px solid #343a40;
  padding: 4.6rem;
  background-color: #5f9ba5;
  color: #c6daee;
}
.pricing-plan--complete {
  padding: 4.6rem;
  position: relative;
  overflow: hidden;
  color: #c6daee;
}

.pricing-plan--complete::after {
  content: "Best Value";
  position: absolute;
  top: 5%;
  right: -18%;
  text-transform: uppercase;
  color: #343a40;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: rgb(230, 125, 34);
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #c6daee;
  font-weight: 500;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin: 6.4rem 0 3.2rem 0;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600rem;
  color: #c6daee;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #c6daee;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
}

/* ************************************ */
/* SECTION-HOW */
/* ************************************ */

.section-how {
  padding: 14rem 0 9.6rem 0;
  max-width: 130rem;
}

.container-how {
  /* 1140px is also ver0y much used */
  max-width: 140rem;
  margin: 0 auto;
  padding: 9.6rem 3rem 9.6rem 3rem;
  align-items: center;
  border-top: rgba(66, 136, 150, 0.171) solid 0.3rem;
  border-bottom: rgba(66, 136, 150, 0.171) solid 0.3rem;

  overflow: hidden;
}
.step-text-box {
  display: grid;
  grid-template-rows: 1fr 1fr 1.5fr;
  column-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 500;
  color: rgba(230, 125, 34, 0.208);
  /* margin-bottom: 1rem; */
}

/* .step-text-box { 
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}*/

.step-img-box img {
  height: 15rem;
  width: 15rem;
  border-radius: 10%;
  border: 3px solid #c6daee;
}

.step-img-box img:hover {
  transform: scale(1.1);
}

.tel,
.email:link,
.tel,
.email:visited {
  text-decoration: none;
  font-size: 2rem;
  color: rgba(230, 125, 34, 0.502);
  transition: all 0.3s;
}

.tel,
.email:hover,
.tel,
.email:active {
  color: rgba(230, 125, 34, 0.502);
}

/* ************************************ */
/* SECTION-CTA  */
/* ************************************ */
.section-cta {
  padding: 14rem 0 9.6rem 0;

 }

 .cta-container{
  padding: 3rem;
  background-color: #5f9ba5;
  border-radius: 9px;
   -webkit-box-shadow: 3px 5px 15px 5px rgba(0,0,0,0.41); 
  box-shadow: 3px 5px 15px 5px rgba(0,0,0,0.41); 
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1rem;
  justify-items: center;
  align-items: center;
 }

  
 
 .cta.heading-secondary {
   color: #c6daee;
   margin-bottom: 3.2rem;
 }
 
 .cta-text {
   font-size: 1.8rem;
   line-height: 1.8;
   margin-bottom: 4.8rem;
 }
 
/* ************************************ */
/* FOOTER */
/* ************************************ */

.footer {
  padding: 14rem 8rem 8rem 16rem;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
  gap: 9.6rem;
}
p.footer-heading {
  font-size: 3rem;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.logo-col,
.adress-col,
.nav-col,
.nav-ref {
  display: flex;
  flex-direction: column;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #5f9ba5;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.adress {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #c6daee;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color:#5f9ba5;
}
